* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    background-image: linear-gradient(150deg, #fffdff 0%, #5d7072);
    }
    .version1 {
        font-size: 32px;
        color: #f80000;
        text-align: center;
        font-weight: 300;
        letter-spacing: 2px;
        margin: 20px 0 10px;
    }
    .version2 {
        font-size: 32px;
        color: #001aff;
        text-align: center;
        font-weight: 300;
        letter-spacing: 2px;
        margin: 20px 0 10px;
    }
    .version3 {
        color: #4e0021;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 2px;
    }
    .version4 {
        color: #000000;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 2px;
    }
    .version5 {
    font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
    }
    .version6 {
        font-family: times, Times New Roman, times-roman, georgia, serif;
        color: #252525;
        margin: 0;
        padding: 0px 0px 6px 0px;
        font-size: 34px;
        line-height: 25px;
        letter-spacing: -2px;
        font-weight: bold;
    }
    button {
    background-color: #4CAF50;
    color: white;
    padding: 4px;
    font-size: 18px;
    transition: .3s;
    background-image: linear-gradient(150deg, #9827bb 0%, #2092a1);
    border: none;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    }
    button span {
    background-color: black;
    border-radius: 6px;
    padding: 16px 24px;
    transition: .3s;
    }
    button:hover span{
    background: none
    }
    button:active {
    transform: scale(0.9);
    }
    ::-webkit-scrollbar {
    width: 10px;
    }
